@charset "utf-8";

// Colors from Police Website
$dark-grey: #4B5364;
$yellow: #FEDA00;
$light-blue: #5ECBF3;
$dark-blue: #3A5994;
$grey: #B2B6BE;
$white: #FEFEFE;
$black: #0A0A0A;
$red: #d8534f;

// Bulma overrides
$primary: $dark-blue;
$link: $dark-blue;
$info: $light-blue;
$warning: $yellow;
$danger: $red;
$dark: $dark-grey;
$text: $black;

$body-background-color: $white;

$navbar-item-img-max-height: 4rem;